<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>게시판</title>
</head>
<body>
    <h1>제품 후기</h1>

    {% for post in posts %}
        {{ post.content }}<br>
        {% if post.photo %}
            <img src="{{ post.photo.url }}" alt=""><br>
        {% endif %}
        {{ post.created_at }}<br>
        {{ post.rating }}<br>
        <a href="{% url 'posts:post_update' post.pk %}">수정</a>
        <a href="{% url 'posts:post_delete' post.pk %}">삭제</a>
        <hr>
    {% endfor %}

        

</body>
</html>